.app-header-navbar {
	border-radius: 0;
	margin-bottom: 0;
}

.whiteboard-header-navbar {
	border-radius: 0;
}

	.whiteboard-header-navbar i {
		font-size: 25px;
	}

.whiteboard-header {
	margin-left: 185px;
	margin-right: 210px;
}

	.whiteboard-header h1 {
		margin: 0;
		padding: 0;
	}


li.menu-btn a {
	padding: 15px 2px 15px 5px;
}

li.menu-btn i {
}

	li.menu-btn i.first {
		font-size: 20px;
		margin-right: 7px;
		padding-left: 5px;
	}

	li.menu-btn i.second {
		font-size: 16px;
		margin-right: 7px;
		padding-left: 2px;
	}

.share-options i {
	font-size: 14px;
}

div.sidebar > ul {
	position: fixed;
	width: 100px;
}

.sidebar ul li > a {
	font-size: 24px;
	padding: 14px 18px;
}

.sidebar > ul li {
	width: 100%;
}

.sidebar ul li a {
	text-align: center;
}

.sidebar ul.lower {
	position: absolute;
	bottom: 0;
}


	.sidebar ul.lower li a {
		font-size: 12px;
	}

.sidebar.horizontal-expand ul li ul {
	left: 100px;
	top: 0px;
	padding: 0;
	margin: 0;
}

ul.horizontal li {
	float: left;
	width: auto;
}

	ul.horizontal li a {
		font-size: 12px !important;
		padding: 12px 12px 0 0;
		float: left;
		height: 40px;
	}

ul.horizontal .tool-icon {
	display: inline-block;
}

ul.horizontal .tool-options {
	display: inline-block;
	padding: 1px 5px;
	border-right: 1px solid #ccc;
}

	ul.horizontal .tool-options span {
		display: block;
	}

form.white-board-title-input input {
	font-size: 12px !important;
	height: 25px !important;
}

.horizontal-expand {
	display: none;
}

/*=============================== CUSTOM LENGTH FOR MENU START ======================================*/
.whiteboard-command-horizontal-menu-options {
	/*width: 687px !important;*/
}

.basic-command-horizontal-menu-options {
	width: 214px;
}

.triangle-command-horizontal-menu-options {
	width: 296px;
}

.square-command-horizontal-menu-options {
	width: 420px;
}

.circle-command-horizontal-menu-options {
	width: 176px;
}

.custom-shape-command-horizontal-menu-options {
	width: 266px;
}

.horizontal-menu-container {
	position: absolute;
	background: yellow;
	left: 0;
	width: 100000px;
	top: 0;
}


.open > .horizontal-menu-container > .dropdown-menu {
	display: block;
}

.nav.navbar-nav > li > a.navbar-logo {
	padding-top: 6px !important;
}

.workspace {
	margin: 0 5px;
}


.navbar-left {
	width: 185px;
	display: inline-block;
	position: absolute;
}


.navbar-right {
	width: 210px;
	display: inline-block;
	position: absolute;
	right: 14px;
	top: -4px;
}


.workspace-command-bar{
	position:fixed;
	margin:0 5px;
	bottom: 5px;

}

.workspace-command-bar .btn.go-btn {
	border-radius: 4px 0 0 4px;
}

.workspace-command-bar .btn.listen-btn {
	border-radius: 0 4px 4px 0;
}
