.app-header-navbar {
	border-radius: 0;
	margin-bottom: 0;
}

.whiteboard-header-navbar {
	margin-bottom: 0;
	border-radius: 0;
}

	.whiteboard-header-navbar i {
		font-size: 25px;
	}


li.menu-btn a {
	padding: 15px 2px 15px 5px;
}

li.menu-btn i {
}

	li.menu-btn i.first {
		font-size: 20px;
		margin-right: 7px;
		padding-left: 5px;
	}

	li.menu-btn i.second {
		font-size: 16px;
		margin-right: 7px;
		padding-left: 2px;
	}

.share-options i {
	font-size: 14px;
}

div.sidebar > ul {
	position: fixed;
	width: 100px;
}

.sidebar ul li > a {
	font-size: 24px;
	padding: 14px 18px;
}

.sidebar > ul li {
	width: 100%;
}

.sidebar ul li a {
	text-align: center;
}

.sidebar ul.lower {
	position: absolute;
	bottom: 0;
}


	.sidebar ul.lower li a {
		font-size: 12px;
	}

.sidebar.horizontal-expand ul li ul {
	left: 100px;
	top: 0;
	padding: 0;
	margin: 0;
}

ul.horizontal li {
	float: left;
	width: auto;
}

	ul.horizontal li a {
		font-size: 12px !important;
		padding: 12px 12px 0 0;
		float: left;
		height: 40px;
	}

ul.horizontal .tool-icon {
	display: inline-block;
}

ul.horizontal .tool-options {
	display: inline-block;
	padding: 1px 5px;
	border-right: 1px solid #ccc;
}

	ul.horizontal .tool-options span {
		display: block;
	}

form.white-board-title-input input {
	font-size: 12px !important;
}

.horizontal-expand {
	display: none;
}

/*=============================== CUSTOM LENGTH FOR MENU START ======================================*/
.whiteboard-command-horizontal-menu-options {
	width: 687px !important;
}

.basic-command-horizontal-menu-options {
	width: 214px;
}

.triangle-command-horizontal-menu-options {
	width: 296px;
}

.square-command-horizontal-menu-options {
	width: 420px;
}

.circle-command-horizontal-menu-options {
	width: 176px;
}

.custom-shape-command-horizontal-menu-options {
	width: 266px;
}
/*=============================== CUSTOM LENGTH FOR MENU END ======================================*/


/*
.sidebar {
overflow: visible;
}

.sublinks a {
padding-left: 25px;
padding-right: 5px;
}

.whiteboard-header {
position: relative;
}

.share-group,
.whiteboard-undo-group {
position: absolute;
top: 0;
right: 0;
}

.whiteboard-undo-group {
right:50px;
}

.share-group ul li a,
.share-group ul li span,
.whiteboard-undo-group ul li a,
.whiteboard-undo-group ul li span{
display:inline-block;
}

.share-group ul li span.voice-command,
.whiteboard-undo-group ul li span.voice-command{
margin-right:5px;
margin-top:5px;
}

.color-picker,
.line-stroke {
display: inline-block;
width: 150px;
}

.color-picker+span,
.line-stroke+span{
padding-top:7px;
padding-right: 0px !important;
}

.panel.board-menu .glyphicon.glyphicon-volume-up{
padding-right: 5px;

}

.whiteboard-header .page-header {
margin-right: 75px;
}

.navbar-brand{
float:none;
padding-top:5px;
}

.navbar-header img{
padding-top: 4px;
}



/* =========================== MENU =================================== */
/*.list-group-item {

background-color: #C8E3FA;
}

div.sublinks .list-group-item {
background-color: #fff;
}

.active-item {
border-right: 4px solid #428bca;
color: #428bca !important;
}

div.sublinks a {
color: #000;
text-decoration: none;
}

div.sublinks a:hover {
color: #000;
text-decoration: none;
}

.panel > a.active,
.panel > a.active:hover,
.panel > a.active:focus {
color: #fff;
background-color: #428bca;
}*/

/* =========================== END MENU =================================== */
