@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?-vx1vls');
	src: url('../fonts/icomoon.eot?#iefix-vx1vls') format('embedded-opentype'), url('../fonts/icomoon.ttf?-vx1vls') format('truetype'), url('../fonts/icomoon.woff?-vx1vls') format('woff'), url('../fonts/icomoon.svg?-vx1vls#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-Font_BasicCommands:before {
	content: "\e600";
}
.icon-Font_Board:before {
	content: "\e601";
}
.icon-Font_Circle:before {
	content: "\e602";
}
.icon-Font_Elipse:before {
	content: "\e603";
}
.icon-Font_IsoscelesTriangle:before {
	content: "\e604";
}
.icon-Font_Line:before {
	content: "\e605";
}
.icon-Font_Parallelogram:before {
	content: "\e606";
}
.icon-Font_Point:before {
	content: "\e607";
}
.icon-Font_Rectangle:before {
	content: "\e608";
}
.icon-Font_RegularTriangle:before {
	content: "\e609";
}
.icon-Font_RightTriangle:before {
	content: "\e60a";
}
.icon-Font_Square:before {
	content: "\e60b";
}
.icon-Font_Triangle:before {
	content: "\e60c";
}
