body {
	margin: 0;
	padding: 0;
}

.navbar-brand {
	padding: 5px 0 0 5px;
}

	.navbar-brand > img {
		display: inline;
	}

.sidebar {
	top: 50px;
	width: 100px;
	padding: 0;
	overflow: visible;
}


.row.main-div {
	margin-right: 0;
	margin-left: 0;
}

.navbar {
	margin-bottom: 10px;
}


.container-fluid {
	margin: 0;
	padding: 0;
}

.workspace-command-bar .input-group-addon {
	padding: 0;
}

.workspace-command-bar .btn {
	padding: 5px 12px;
}

