body {
	margin: 0;
	padding: 0;
}

.command-list {
	position: fixed;
	width: 220px;
	top: 50px;
	left: 10px;
}

.command-link {
	text-transform: capitalize;
	padding: 2px 0 2px 10px;
}

.command-containerlist-text {
	margin-left: 240px;
}

.title {
	float: left;
}


.navbar-logo {
	float: right;
	margin: 10px 10px 0 0;
}


.back-to-top {
	float: right;
	margin: 0 10px 0 0;
}


.command-text {
	font-weight: bold;
	width: auto !important;
}


.back-to-top:hover {
	cursor: pointer;
}


.input-group {
	padding: 2px 0 2px 0;
}

	.input-group .input-group-addon .fa.fa-volume-up {
		color: #337ab7;
	}
